@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "RadioZNB";
  src: url("/fonts/znb.otf") format("opentype");
  font-display: swap;
  unicode-range:
    U+0030-0039,
    U+0400-04FF,
    U+0500-052F,
    U+2DE0-2DFF,
    U+A640-A69F,
    U+1C80-1C8F;
}

html {
  transition: background 0.5s ease;
  overflow-x: clip;
  max-width: 100%;
}

body {
  max-width: 100%;
  font-family: "RadioZNB", var(--font-latin), serif;
}

button {
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}

button:active {
  transform: scale(0.95);
}

@media (min-width: 640px) {
  button:hover {
    transform: scale(1.05);
  }
}

@theme {
  --animate-waves: waves 2s steps(1, end) infinite;
  --animate-bg: bg-frames 0.75s infinite;
  --animate-blink: blink 1.2s steps(1, end) infinite;
}

@keyframes waves {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

/* Disable default view transition animations */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

@keyframes wipe-left-right {
  from {
    -webkit-clip-path: inset(0 100% 0 0);
    clip-path: inset(0 100% 0 0);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

@keyframes wipe-right-left {
  from {
    -webkit-clip-path: inset(0 0 0 100%);
    clip-path: inset(0 0 0 100%);
  }
  to {
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
  }
}

html.light.theme-transition::view-transition-new(root) {
  animation: wipe-left-right 0.75s cubic-bezier(0.22, 1, 0.36, 1);
}

html.dark.theme-transition::view-transition-new(root) {
  animation: wipe-right-left 0.75s cubic-bezier(0.22, 1, 0.36, 1);
}

.dark img:not(.ignore-invert) {
  -webkit-filter: invert(1);
  filter: invert(1);
}

img {
  user-select: none;
}

.masked {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  z-index: -10;
  filter: invert();

  background: url("/assets/bg_animation.gif") center/cover no-repeat;

  -webkit-mask-image: url("/assets/table.png");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;

  mask-image: url("/assets/table.png");
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;
}

.masked-transformed {
  transform: scaleY(0.9);
  transform-origin: 0 100%;
}

@media (max-width: 640px) {
  .masked-transformed {
    transform: scaleY(0.5);
    transform-origin: 0 100%;
  }
}
